[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
scrapy = "*"
requests = "*"
requests-cache = "*"
pyyaml = "*"
tk = "*"
matplotlib = "*"
flask = "*"
gunicorn = "*"
cloudscraper = "*"
flask-cors = "*"

[dev-packages]
coverage = "*"
python-coveralls = "*"
pylint = "*"
